{% extends "base/base.html" %}

{% block content %}


<br>
<p>
  This project is an initiative to improve automatic evaluation for Quizzes and Projects in different
  programming/modelling languages for the Universidad del Valle. The initiative includes support for:
<ul>
  <li>
    DrRacket and the EOPL language: (Essentials of Programming Languages language) which can be used to implement
    interpreters
  </li>
  <li>
    MiniZinc: modelling language for solving combinatorial optimization and satisfaction problems
  </li>
</ul>
</p>


{% endblock %}