{% extends "base/base.html" %}

{% block content %}


<br>
If you are interested in collaborate, please contact:
<a class="nav-link" href="mailto:robinson.duque@correounivalle.edu.co">
  <span data-feather="user" class="align-text-bottom"></span>
  robinson.duque@correounivalle.edu.co
</a>
<br>
You can view/download the latest version of this application under the GNU General Public License v3.0 at:
<a class="nav-link" href="mailto:robinson.duque@correounivalle.edu.co">
  <span data-feather="github" class="align-text-bottom"></span>
  https://github.com/robinsonduque/classEvaluator
</a>

{% endblock %}