{% extends "base/base.html" %}

{% block content %}

{% if user.is_authenticated %}

<br>
Hi {{user.get_full_name}}, in this section you can change your password.
<div class="container">
    <div class="row p-5">
        <div class="col-1"></div>

        <div class="col-8 p-3" style="background-color: #dee2e6;" ->
            <form action="" class="register-form" method="post">
                {% csrf_token %}


                <div class="form-group row p-2">
                    <div class="col-sm-4">
                        {{ form.old_password.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.old_password }}
                    </div>
                </div>

                <div class="form-group row p-2">
                    <div class="col-sm-4">
                        {{ form.new_password1.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="form-group row p-2">
                    <div class="col-sm-4">
                        {{ form.new_password2.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.new_password2 }}
                    </div>
                </div>

                {% if form.errors %}

                {% for key,value in form.errors.items %}
                <p style="color: red;">
                    {{ value.as_text|escape }}
                </p>
                {% endfor %}

                {% endif %}
                <div class="form-group row p-3">

                    <div class="col-sm" style="text-align: center;">
                        <input type="submit" class="btn btn-success" value="Change Password">
                    </div>
                </div>


            </form>
        </div>

        <div class="col"></div>
    </div>

</div>

{% else %}



<div style="padding: 10px;"></div>
<div class="alert alert-warning" role="alert">
    User not authenticated
</div>


{% endif %}

{% endblock %}