{% extends "base/base.html" %}

{% block content %}

{% if user.is_authenticated %}

<br>
<!--Message management-->
{% for message in messages %}
<tr>
  <th colspan="3" style="text-align: center;">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {{ message }}
    </div>
  </th>

</tr>
{% endfor %}


<br><br>
<!--New Subject-->
<div style="float: right;">
  <a class="btn btn-success btn-sm" href="{%url 'createSubject'%}" role="button">
    <span data-feather="file-plus" class="align-text-bottom"></span> New Class Subject
  </a>
</div>
<h4>Activities per Class Subject:</h4>







<hr>
{% for subject in subjects %}

<br>
<div class="card">
  <div class="card-header">
    <h4>
      <!--Edit Subject-->
      <a class="btn btn-primary btn-sm" href="{% url 'editSubject' subject.id subject.name%}" role="button">
        <span data-feather="edit" class="align-text-bottom"></span></a>
      {% if not subject.activity_set.all %}
      <!--Delete Subject if it does not containt activities-->
      <a class="btn btn-danger btn-sm" href="{%url 'deleteSubject' subject.id%}" role="button">
        <span data-feather="trash" class="align-text-bottom"></span></a>
      {% endif %}
      {{subject.name}}
    </h4>
  </div>

  <div class="card-body">

    <table class="table  table-hover">
      <thead>
        <tr aria-colspan="2">
          <th scope="col">Activity Name</th>
          <th scope="col">Availibility</th>
          <th scope="col">Grade Scale</th>
          <th scope="col">Exercises</th>
          <th scope="col">Options</th>
        </tr>
      </thead>

      <tbody>
        {% for act in subject.activity_set.all|dictsort:"id" %}
        <tr>
          <td>{{ act }}</td>
          <td>{{ act.available_from }} / {{ act.available_until }} </td>
          <td>{{ act.grade_scale }} </td>
          <td>
            <!--Add Exercise to activity-->
            <a class="btn btn-outline-primary btn-sm" href="#" role="button">
              <span data-feather="file-plus" class="align-text-bottom"></span>
            </a>
            <!--Edit Excercises-->
            <a class="btn btn-outline-danger btn-sm" href="#" role="button">
              <span data-feather="edit-3" class="align-text-bottom"></span>
            </a>
            {{ act.activityexercise_set.count}}

          </td>
          <td>
            <!--View Activity-->
            <a class="btn btn-primary btn-sm" href="#" role="button">
              <span data-feather="eye" class="align-text-bottom"></span>
            </a>
            <!--Edit Activity-->
            <a class="btn btn-primary btn-sm" href="{% url 'editActivity' subject.id  subject.name act.id %}"
              role="button">
              <span data-feather="edit" class="align-text-bottom"></span>
            </a>
            <!--Delete Activity if it does not contain exercises-->
            {% if act.activityexercise_set.count == 0 %}
            <a class="btn btn-danger btn-sm" href="{%url 'deleteActivity' act.id%}" role="button">
              <span data-feather="trash" class="align-text-bottom"></span>
            </a>
            {% endif %}
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--Create Activity in a specific class subject-->
    <a type="button" class="btn btn-success btn-sm"
      href="{% url 'createActivity' subject.id  subject.name %}">Create</a>
  </div>
</div>
{% endfor %}
<br><br>

{% else %}
<div style="padding: 10px;"></div>
<div class="alert alert-warning" role="alert">
  User requires to authenticate
</div>


{% endif %}

{% endblock %}